<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>StarCraft II Counters</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Matomo -->
        <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//matomo.ikotema.digital/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '5']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
        </script>
        <!-- End Matomo Code -->
    </head>

    <style>
    body {
        background: #000d1a;
        color: white;
        font-weight: bold;
        text-shadow: black 1px 1px 3px;
        margin-bottom: 100px;
        font-family: sans;
    }
    ul {
        padding: 0;
    }
    img {
        width: 100px;
        height: 100px;
    }
    h1 {
        font-size: 28pt;
        text-align: center;
        margin-bottom: 100px;
    }
    a {
        color: #009dff;
        text-decoration: none;
    }
    .unit-container {
        padding-top: 10px;
    }
    .unit {
        display: flex;
        align-items: center;
        border: 2px solid rgba(0,77,153,.6);
        box-sizing: border-box;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: black 1px 1px 3px;
        transition: 0.75s all;
    }
    @media (max-width: 600px) {
        .unit {
            flex-direction: column;
        }
    }
    .unit-container:target > .unit {
        background-color: rgba(0,51,102,.9);
    }
    .main-unit-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 150px;
        flex-shrink: 0;
        text-align: center;
    }
    .name {
        font-size: 14pt;
        margin: 10px;
    }
    .counter {
        display: flex;
        flex-wrap: wrap;
    }
    .strong, .weak {
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        box-shadow: black 1px 1px 3px;
        transition: 0.5s all;
        color: white;
    }
    .strong {
        background: #2c731b;
    }
    .strong:hover {
        background: #3f872e;
    }
    .weak {
        background: #791312;
    }
    .weak:hover {
        background: #892a29;
    }
    </style>

    <body>
        <h1>StarCraft 2 Counters</h1>
        <a class="weak">weak against</a>
        <a class="strong">strong against</a>
        <ul>
        {% for unit in units %}
            <li id="{{ unit.id }}" class="unit-container">
                <div class="unit">
                    <img src="{{ unit.image }}" />
                    <div class="main-unit-info">
                        <span class="name">{{ unit.name }}</span>
                        <a href="https://liquipedia.net/starcraft2/{{ unit.name }}" target="_blank" rel="noopener noreferrer">🔗</a>
                    </div>
                    <div class="counter">
                    {% for u in unit.weak %}
                        <a class="weak" href="#{{ u.id }}">
                            {{ u.name }}
                        </a>
                    {% endfor %}
                    </div>
                    <div class="counter">
                    {% for u in unit.strong %}
                        <a class="strong" href="#{{ u.id }}">
                            {{ u.name }}
                        </a>
                    {% endfor %}
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>

        <h2>About</h2>
        <p>Informations and images automatically extracted from <a href="https://liquipedia.net/starcraft2" target="_blank" rel="noopener noreferrer">Liquipedia</a> unit infoboxes. Check the scraper and render <a href="https://gitlab.com/andresmrm/starcraft-2-counters" target="_blank" rel="noopener noreferrer">source code</a>. Feel free to fork it. 🙂</p>
        <p>Counters were "expanded" adding all counters cited in other units pages. For example: infobox of unit A doesn't say it's strong against B, but infobox of B says it's weak against A, so here it will display A as strong against B. That's why here many units have more than 3 counters, even if the infoboxes of Liquipedia only display 3 strongs and 3 weaks per unit.</p>
    </body>
</html>
